* {
  font-family: 'Quicksand', sans-serif;

}

article {
  margin: auto;
  max-width: 850px;
}

p {
  max-width: 50em;
  margin: auto;
}

body {
  margin: 0 auto;
}


.logos {
  position:relative;
  display: block;
  margin: 0 auto;
  width: 404px;
  padding: 20em 0em 0em 0em;
}

.logos img {
  display: block;
  margin: auto;;
  position: absolute;
  height: 120px;
}


.section-1 {
  text-align: center;
  margin: auto;
  height: 72em;
  padding-left: 35px;
  padding-right: 35px;
}


.section-1 .blurb {
  font-size: 1em;
  font-weight: 550;
  max-width: 50em;
  color: #009ace;
  margin: auto;
  margin-top: 20em;
}


.section-2 {
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
  height: 25em;
}

.section-2 .article-2 {
  text-align: center;
  margin: 0 auto;
}

.section-2 h1 {
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.section-2 p {
  margin-top: 50px;
}

}
