html {
}
* {
  font-family: 'Quicksand', sans-serif;

}

article {
  margin: auto;
  max-width: 200em;
}


.logos {
  position:relative;
  margin: 0 auto;
  padding-top: 25em;
  padding-right: 34em;
  padding-bottom: 25em;
}

.logos img {
  position:absolute;
  margin: 0 auto;
}


.section-1 {
  text-align: center;
  margin: auto;
  height: 72em;
}


.section-1 .blurb {
  font-size: 1em;
  font-weight: 550;
  max-width: 70em;
  color: #009ace;
  margin: auto;
  margin-bottom: 0px;
}


.section-2 {
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
  height: 25em;

  article-1 {
    text-align: center;
    margin: 0 auto;

    h1 {
      font-size: 5em;
      text-align: center;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}
